<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtitlan.endeavorsubasta"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="12" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.IOSched"
         >
        <activity
            android:label="@string/app_name"
            android:theme="@style/Theme.IOSched.Home"
            android:name=".EndeavorSubastaActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:label="Producto n"
            android:name=".ProductActivity"/>
        
        <activity android:name=".BiddingDialog" 
          android:label="Escribe tu nombre" 
          android:theme="@android:style/Theme.Dialog"/>
        
    </application>

</manifest>